/** Nav Menu Entrance **/
@keyframes navBlurIn {
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
  
/** Hero Box Entrance */
@keyframes floatIn {
    0% {
      transform: translateX(100%) translateY(0);
      opacity: 0;
    }
    60% {
      transform: translateX(-20px) translateY(-10px);
      opacity: 1;
    }
    80% {
      transform: translateX(10px) translateY(5px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
}
